@font-face {
    font-family: "Game";
    src: url("/font/rare_game/Rare\ Game.otf") format("truetype");
}

@font-face {
    font-family: "Comic";
    src: url("/font/sf_slapstick_comic/SF\ Slapstick\ Comic\ Bold\ Oblique.ttf");
}

@font-face {
    font-family: "PressStart";
    src: url("/font/Press_Start_2P/PressStart2P-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    padding: 10px auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: blueviolet;
    color: white;
    height: 100vh;
    font-family: "Comic";
}

.title {
    font-size: 50px;
}

.subtitle1 {
    color: rgb(255, 145, 0);
    text-shadow: #000 6px 6px 0;
}
.subtitle2 {
    color: yellow;
    text-shadow: #000 6px 6px 0;
}

#game-area {
    background-color: rgb(85, 85, 85);
    height: 600px;
    width: 1100px;
    position: relative;
    overflow: hidden;
    border-color: #000;
    border-style: dashed;
    border-width: 5px;
    margin-bottom: 20px;
}

.luffy,
.luffy-left {
    position: absolute;
    width: 55px;
    bottom: 0;
}

.luffy-left {
    transform: scaleX(-1);
}

.luffy-some {
    width: 0;
}

.progresso {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 60px;
    z-index: 100;
    font-family: "Game";
}

.carne {
    width: 55px;
    position: absolute;
}

.carne-some {
    width: 0;
}

.barra-energia {
    position: absolute;
    z-index: 100;
    top: 0px;
    width: 104px;
    height: 30px;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.progresso-energia {
    position: absolute;
    background-color: rgb(255, 145, 0);
    height: 100%;
    border-radius: 8px;
}

.obstaculo {
    background-color: rgb(0, 174, 255);
    background-image: url("/img/grades.jpg");
    height: 60px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.linha-obstaculo {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.tela-final {
    background-image: url("/img/bg-sunny.jpg");
    background-position: center center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PressStart";
    font-size: 20px;
    color: rgb(4, 184, 255);
    z-index: -1000;
}

.container-tela-final {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    width: 700px;
    height: 450px;
    border-radius: 15px;
}

.button-tela-final {
    width: 300px;
    padding: 15px;
    height: 80px;
    border-radius: 30px;
    border: none;
    font-family: "PressStart";
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
    background-color: #eee;
    color: rgb(4, 184, 255);
    transition: 500ms;
}

.button-tela-final:hover {
    background-color: rgb(4, 184, 255);
    color: #eee;
    transform: translateY(-5px);
}